<style>
    .legendLabel {
        color:White;
    }

	table.qabot {
		width:100%;
		margin-top:15px;
		padding-top:15px;
	}

	table.qabot tr.qarow {
		width:100%;
	}

	table.qabot tr.qarow td.qaname {
		width: 350px;
		font-size: 14px;
		border-bottom: 0px;
        color: gray;
	}

	table.qabot tr.qarow td.qaname span.qatitle {
		width: 350px;
		font-size: 14px;
		font-weight: bold;
		border-bottom: 0px;
        color: black;
	}

	table.qabot tr.qarow td.qadesc {
		width: auto;
		font-size: 10px;
		border-bottom: 2px solid #ccc;
	}

	table.qabot tr.qarow td.qaflag {
		width: 125px;
		height: 50px;
		text-align: center;
		vertical-align: middle;
		border-bottom: 2px solid #ccc;
	}

	table.qabot tr.qarow td.qaflag span.qavalue {
		height: 35px;
		font-size: 20px;
		font-weight: bold;
	}

	table.qabot tr.qarow td.qaflag span.qacomment {
		height: 15px;
		font-size: 14px;
		font-weight: bold;
	}

	table.qabot tr.qarow td.qared {
		color: white;
		background-color: rgb(136, 0, 21);
	}

	table.qabot tr.qarow td.qagreen {
		color: white;
		background-color: rgb(0, 128, 64);
	}

	table.qabot tr.qarow td.qagray {
		color: black;
		background-color: rgb(128, 128, 128);
	}

	table.qabot tr.qarow td.qachart {
		width: 50%;
		text-align: left;
		vertical-align: top;
		border-bottom: 2px solid #ccc;
	}

	table.qabot tr.qarow td.qabuttons {
		height: 25px;
		margin-left: 5px;
		text-align: left;
		vertical-align: middle;
	}

	table.qabot tr.qarow td.qabuttons button {
		text-decoration: none;
	}
</style>

<!-- NavBar -->
<div class="mynavbar mysticky">
	<section class="row-fluid">	
		<div class="span12">
		    <%=nav3("Monotoring", "/monitoring", "Agency", "/monitoring/agency", "Capacity")%>
		</div>
	</section>
</div>

<!-- Single Panel -->
<section class="row-fluid">
	<div class="span12 box">
        <table class="table table-condensed qabot">
            <%
            BlackStack::Monitoring.monitors.each { |m|
                color = m.pass? ? 'qagreen' : 'qared'
                value = m.last_value.to_s
                thres = m.get_threshold
            %>
            <tr class='qarow'>
                <td class='qaname'>
                    <span class='qatitle'><%=m.name.encode_html%></span><br/>
                    <%=m.description.encode_html%>
                </td>
                <td rowspan=1 class='qaflag <%=color%>'>
                    <%
                    if thres.to_i != 0
                    %>
                    <span class='qavalue'><%=value%> / <%=thres.to_s%></span>
                    <%
                    else # if thres.nil?
                    %>
                    <span class='qavalue'><%=value%></span>
                    <%
                    end # if thres.nil?
                    %>
                    <br/>
                    <span class='qacomment'><%=m.unit_name.encode_html%></span>
                </td>
                <td rowspan=1 class='qachart'>
                    <!--
                        Chart showing the number the status of the alert by ss, mi, hh, dd, mm, qq or yy.
                    -->
                    no chart yet.
                </td>
            </tr>
            <%
            }
            %>
        </table>
    </div>
</div>
